[submodule "options"]
	path = options
	url = https://github.com/PluginCube/options.git

[submodule "pricing-page"]
	path = assets/pricing-page
	url = https://github.com/Freemius/pricing-page.git
    branch = feature/single-plan-on-mobile-show-fix